footer {
  background-color: #de1f26;
}

.credit {
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: 0.07rem;
  & a {
    color: $poke-site-yellow;
  }
  @include tablet {
    padding: 4rem;
  }
}