@use "partials/typography" as *;
@use "partials/partial" as *;
@use "partials/mixins" as *;
@use "partials/pokedex" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0deg, #de1f26, #e02628);
  font-family: "futura std", sans-serif;
}

//nav bar
.pika-icon {
  margin: 1rem 1.5rem 0 1rem;
  width: 3.5rem;
  display: flex;
  transform: rotate(340deg);
  @include tablet {
    flex-wrap: wrap;
    margin: 1rem 2.5rem 0 2.5rem;
    width: 4rem;
    animation-duration: 0.75s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    &:hover {
      cursor: pointer;
      animation-name: bounce;
    }
  }
}

a {
  text-decoration: none;
  font-size: 1rem;
}
.nav-bar {
  background: linear-gradient(
    0deg,
    #de1f26,
    #e02628,
    #e12c2a,
    #e3312c,
    #e5372e,
    #e63b30,
    #e84032,
    #ea4434,
    #eb4836,
    #ed4c39,
    #ee503b,
    #f0543d
  );
  display: flex;

  padding-bottom: 2rem;

  @include tablet {
    flex-wrap: wrap;
  }

  &-towns {
    @extend .nav-bar;
    @include tablet {
      padding-bottom: 0;

      flex-direction: column;
    }
  }

  &__links {
    display: flex;
    letter-spacing: 0.25rem;
    @include links;
    color: #fff;
    margin: 1.75rem 1rem 0 0;
    @include tablet {
      margin: 1.75rem 3rem 0 0;
      font-size: 2rem;
    }
    &--box {
      display: flex;
    }
    &:hover {
      color: $poke-site-yellow;
    }
  }
}
.nav-bar__links--box a:link {
  text-decoration: none;
  color: #fff;
}
.nav-bar__links--box a:visited {
  text-decoration: none;
  color: #fff;
}

#pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $poke-site-blue;
  margin: 1rem;
  @include tablet {
    width: 28%;
  }

  &__name {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__id {
    background-color: $poke-site-yellow;
    color: #fff;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  &__type {
    margin-bottom: 0.5rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $poke-site-yellow;
    max-width: 90%;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__li {
    text-transform: uppercase;
    text-align: center;
  }
  &__image {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}

.cards__container {
  @include tablet {
    max-width: 80vw;
  }
  @include desktop {
    max-width: 50vw;
  }
}

.map {
  width: 100%;
  object-fit: cover;
}

footer {
  margin: 1rem auto;
  text-align: center;
  color: white;
}
