@use "typography" as *;
@use "partial" as *;
@use "mixins" as *;

#container {
  background: linear-gradient(0deg, #de1f26, #e02628, #e12c2a, #e3312c, #e5372e, #e63b30, #e84032, #ea4434, #eb4836, #ed4c39, #ee503b, #f0543d);
}

.pokedex-header {
  text-transform: uppercase;
  text-align: center;
  background-color: black;
  padding: 1rem 0;
  margin: auto;
  color: #fff;
  font-weight: 300;
  font-size: 1.7rem;
  text-align: center;

  @include tablet {
    font-size: 3rem;
  }

  @include desktop {
    font-size: 5rem;
  }
}

#pokedex-container {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  justify-content: space-between;
  background: linear-gradient(0deg, #de1f26, #e02628, #e12c2a, #e3312c, #e5372e, #e63b30, #e84032, #ea4434, #eb4836, #ed4c39, #ee503b, #f0543d);
  padding-top: 2rem;
  margin: 0 auto;

  @include desktop {
    width: 80%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  font-family: "Futura Std";
  background: linear-gradient(0deg, #49669c, #436da2, #3d74a7, #377bab, #3181af, #2d88b2, #298eb4, #2995b6, #2b9bb7, #30a1b8, #37a7b8, #40adb8);
  position: relative;
  border-radius: 1rem 0 1rem 1rem;
  -webkit-box-shadow: 4px 3px 9px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 3px 9px 4px rgba(0, 0, 0, 0.2);

  @include tablet {
    width: 28%;
  }

  &__name {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
  }
  &__id {
    background-color: $poke-site-yellow;
    font-size: 1.125rem;
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__type {
    list-style: none;
    display: flex;
    font-size: 1.25rem;
    color: $poke-site-yellow;
  }
  &__li {
    margin: 0.5rem;
    text-transform: uppercase;
    text-align: center;
  }
  &__image {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}
