@font-face {
    font-family: 'Futura Std';
    src: url('../../assets/fonts/FuturaStd-Book.woff2') format('woff2'),
        url('../../assets/fonts/FuturaStd-Book.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Futura Std';
    src: url('../../assets/fonts/FuturaStd-Bold.woff2') format('woff2'),
        url('../../assets/fonts/FuturaStd-Bold.woff') format('woff');
    font-weight: 600;
}

@mixin links {
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
}