@font-face {
    font-family: 'Futura Std';
    src: url('FuturaStd-Book.woff2') format('woff2'),
        url('FuturaStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Std';
    src: url('FuturaStd-Bold.woff2') format('woff2'),
        url('FuturaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}