@use "partials/typography" as *;
@use "partials/partial" as *;
@use "partials/mixins" as *;
@use "partials/pokedex" as *;

body {
  background: linear-gradient(0deg, #de1f26, #e02628);
}

//main map
.map {
  background-color: #de1f26;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  background-color: #de1f26;
}

.credit {
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: 0.07rem;
  & a {
    color: $poke-site-yellow;
  }
  @include tablet {
    padding: 4rem;
  }
}
