@use 'partials/typography' as *;
@use 'partials/partial' as *;
@use 'partials/mixins' as *;
@use 'partials/pokedex';

//nav bar
.nav-bar{
    font-family: 'Futura Std';
    font-weight: 500;
    background-color: $poke-site-red;
    padding: 2rem;
    display: flex;
    

    &__links{     
        @include links;
        color: #fff;
        margin: 1rem 1.75rem ;

        &--box{
            display: flex;
            width: 75%;
        } 
    }    
}
a:link {text-decoration: none; color: #fff; }
a:visited {text-decoration: none; color: #fff;}
a:hover {border-bottom: 0.25rem solid #fff;}

.map{
    width:100%;
    height:25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}