@use 'partials/typography' as *;
@use 'partials/partial' as *;
@use 'partials/mixins' as *;
@use 'partials/pokedex';

@use 'partials/typography' as *;
@use 'partials/partial' as *;
@use 'partials/mixins' as *;

//nav bar
.pika-icon{
    margin: 1rem  2.5rem 0 2.5rem;
    display: flex;
}

a{
    text-decoration: none;
}
.nav-bar{
    background-color: $poke-site-red;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    &__links{    
        display: flex;
        text-align: center;
        @include links;
        color: #fff;
        margin: 1.75rem 3rem 0 0;
        
        
        &--box{
            display: flex;
            width:75%
        }
        &:hover {
            color: $poke-site-yellow;
        }
    }    
}
.nav-bar__links--box a:link {text-decoration: none; color: #fff; }
.nav-bar__links--box a:visited {text-decoration: none; color: #fff;}

.sub-bar{
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0.5rem 2rem;
    font-weight: 300;
    color: #fff;

    &:hover {
        color: $poke-site-yellow;
    }

    &__box{
        display: flex;
        margin-left: 6rem;
    }
}
.sub-bar a:link {text-decoration: none; color: #fff; }
.sub-bar a:visited {text-decoration: none; color: #fff;}


//main map
.map{
    width:100%;
    height:25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}