@use 'partials/typography' as *;
@use 'partials/partial' as *;
@use 'partials/mixins' as *;
@use 'partials/pokedex';
@use 'town-styles';
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, link, ul, li{
    font-family: "futura std";
}
.pika-icon {
    width: 3rem;
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $poke-site-orange;
    background: linear-gradient(0deg, #de1f26, #e02628, #e12c2a, #e3312c, #e5372e, #e63b30, #e84032, #ea4434, #eb4836, #ed4c39, #ee503b, #f0543d);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-family: 'Futura Std';
    background-color: $poke-site-blue;
    margin: 1rem;
    position: relative;

    &__name {
        text-transform: uppercase;
        font-size: 2.25rem;
        font-weight: 500;
        color: #fff;
    }
    &__id {
        background-color: $poke-site-yellow;
        color: #fff;
        font-size: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__type {
        list-style: none;
        display: flex;
        font-size: 1.25rem;
        color: $poke-site-yellow;
    }
    &__li {
        margin: 0 1rem 1rem 0;
        text-transform: uppercase;
        text-align: center;
    }
    &__image {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

}