@font-face {
  font-family: "Futura Std";
  src: url("../../assets/fonts/FuturaStd-Book.woff2") format("woff2"), url("../../assets/fonts/FuturaStd-Book.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Futura Std";
  src: url("../../assets/fonts/FuturaStd-Bold.woff2") format("woff2"), url("../../assets/fonts/FuturaStd-Bold.woff") format("woff");
  font-weight: 600;
}
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
}
#container {
  background: linear-gradient(0deg, #de1f26, #e02628, #e12c2a, #e3312c, #e5372e, #e63b30, #e84032, #ea4434, #eb4836, #ed4c39, #ee503b, #f0543d);
}

.pokedex-header {
  text-transform: uppercase;
  text-align: center;
  background-color: black;
  padding: 1rem 0;
  margin: auto;
  color: #fff;
  font-weight: 300;
  font-size: 1.7rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .pokedex-header {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .pokedex-header {
    font-size: 5rem;
  }
}

#pokedex-container {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  justify-content: space-between;
  background: linear-gradient(0deg, #de1f26, #e02628, #e12c2a, #e3312c, #e5372e, #e63b30, #e84032, #ea4434, #eb4836, #ed4c39, #ee503b, #f0543d);
  padding-top: 2rem;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  #pokedex-container {
    width: 80%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  font-family: "Futura Std";
  background: linear-gradient(0deg, #49669c, #436da2, #3d74a7, #377bab, #3181af, #2d88b2, #298eb4, #2995b6, #2b9bb7, #30a1b8, #37a7b8, #40adb8);
  position: relative;
  border-radius: 1rem 0 1rem 1rem;
  box-shadow: 4px 3px 9px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .card {
    width: 28%;
  }
}
.card__name {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
.card__id {
  background-color: #FECF0A;
  font-size: 1.125rem;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}
.card__type {
  list-style: none;
  display: flex;
  font-size: 1.25rem;
  color: #FECF0A;
}
.card__li {
  margin: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}
.card__image {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.sub-bar {
  border: none;
  display: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0.5rem 1rem;
  color: #fff;
  background: none;
  padding-bottom: 1rem;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 768px) {
  .sub-bar {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .sub-bar {
    margin: 0.5rem 2rem;
  }
}
.sub-bar:hover {
  color: #FECF0A;
}
.sub-bar__box {
  display: flex;
  justify-content: center;
}

.sub-bar a:link {
  text-decoration: none;
  color: #fff;
}

.sub-bar a:visited {
  text-decoration: none;
  color: #fff;
}

#towns-main {
  display: flex;
}
@media screen and (min-width: 1024px) {
  #towns-main {
    flex-direction: row;
  }
}

.map-section {
  background-image: url("../assets/images/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 75%;
}

.title-text {
  color: #fff;
  letter-spacing: 0.25rem;
}
@media screen and (min-width: 768px) {
  .title-text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .title-text {
    font-size: 3rem;
  }
}

.info-section {
  background: linear-gradient(0deg, #de1f26, #e02628, #e12c2a, #e3312c, #e5372e, #e63b30, #e84032, #ea4434, #eb4836, #ed4c39, #ee503b, #f0543d);
  border-left: 16px solid #fecf0a;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 1.25rem 1rem 1rem;
  min-height: 80vh;
}
@media screen and (min-width: 1024px) {
  .info-section {
    width: 55%;
    justify-content: center;
  }
}
.info-section .title__container {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  background: black;
  max-width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 37rem;
  height: 5rem;
  padding: 1.3rem;
}
.info-section .cards__container {
  width: 50rem;
  height: 28rem;
}

#towns-footer {
  background-color: #de1f26;
  width: 100%;
}

.choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Futura Std";
  background: linear-gradient(0deg, #49669c, #436da2, #3d74a7, #377bab, #3181af, #2d88b2, #298eb4, #2995b6, #2b9bb7, #30a1b8, #37a7b8, #40adb8);
  margin: 1rem;
  width: 40%;
  position: relative;
  border-radius: 1rem;
  box-shadow: 4px 3px 9px 4px rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
  animation-duration: 0.75s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.choose:hover {
  background: linear-gradient(0deg, #559db5, #4fa6bb, #48aec0, #43b7c4, #3fc0c6, #3fc8c7, #43d1c6, #4cd9c4);
  cursor: pointer;
  animation-name: bounce;
}
.choose-container {
  display: flex;
  padding: 8rem 0 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  width: 89%;
}/*# sourceMappingURL=town-styles.css.map */